body{
    background-color: #e0ba81;
    font-family: verdana;
    background:     linear-gradient(rgba(220,185,130,0.35), rgba(220,185,130,0.35)),
    url("../Images/Background - Copy.png");;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: #664303;
    font-size: 50px;
    text-align: center;
    font-family: Zhoro;
}
h2{
    color: #996a13;
    font-size: 40px;
    text-align: Left;
    font-family: Zhoro;
    text-decoration: underline;
}
.Subtitle{
    color: #996a13;
    font-size: 35px;
    text-align: center;
    font-family: visby;
}
hr{
    border: 1px solid #664303;
}
a{
    color: #472f02;
    text-decoration: none;
    font-family: verdana;
    font-size: 30px;
}
a:hover{
    color: #422b00;
    text-decoration: underline;
}
p{
    color: #472f02;
    font-size: 30px;
    font-family: "Times New Roman", serif;
}
li{
    color: #472f02;
    font-size: 30px;
    font-family: "Times New Roman", serif;
}
.Container{

    width:80%;
    margin:40px auto;
    background:white;
    border-radius:20px;
    padding:40px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.profile{

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.profile-box{

    flex:1;

    padding:40px;

    border-left:8px solid #996a13;
}

.profile-photo img{

    width:250px;

    height:320px;

    object-fit:cover;

    border-radius:15px;

    transition:.4s;
}

.profile-photo img:hover{

    transform:scale(1.05);   
}

.MY-LOGO{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin-top: 40px;
}

.MY-LOGO img{
    width: 450px;
    height: auto;
}

.Impervious{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
}

.Impervious-logo{
    width: 250px;
    height: auto;
    transition: .4s;
}

.Impervious-logo:hover{
    transform: rotate(360deg) scale(1.5);
}

a{
    transition:.3s;
}
a:hover{
    color:996a13;
}