@media (max-width:768px)

.profile{
    flex-direction:column;
} 

body{
    background-color: #ffffff;
    font-family: verdana;
    background:     linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("../Images/Background - Copy.png");;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card{
background:white;

border-radius:15px;

padding:20px;

box-shadow:0 10px 20px rgba(0,0,0,.15);

transition:transform .3s, background-color .3s;
}

.card:hover{
    transform:
    translateY(-10px);
    background-color:#e9d6b4;
}
h1{
    color: #664303;
    font-size: 50px;
    text-align: center;
    font-family: Zhoro;
}
h2{
    color: #996a13;
    font-size: 40px;
    text-align: Left;
    font-family: Zhoro;
    text-decoration: absolute;
}
.Subtitle{
    color: #996a13;
    font-size: 35px;
    text-align: center;
    font-family: visby;
}
hr{
    border: 1px solid #664303;
}
a{
    color: #472f02;
    text-decoration: none;
    font-family: verdana;
    font-size: 30px;
}
a:hover{
    color: #422b00;
    text-decoration: underline;
}
p{
    color: #472f02;
    font-size: 30px;
    font-family: "Times New Roman", serif;
}
li{
    color: #472f02;
    font-size: 30px;
    font-family: "Times New Roman", serif;
}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    width:80%;

    margin:auto;

    padding:20px 0;
}

nav ul{

    display:flex;

    gap:30px;

    list-style:none;

}

.logo{

    font-size:40px;

    font-weight:bold;

    color:#7e5910;

    font-family:visbyBold;

}

nav a{

    color:#966a13;

    text-decoration:none;

    font-size:40px;

    transition:.3s;

    font-family:VisbyMedium;

}

nav a:hover{

    color:#996a13;

} 

.Container{

    width:80%;
    margin:40px auto;
    background:white;
    border-radius:20px;
    padding:40px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.container2{
    width:80%;
    margin:40px auto;
    background:white;
    border-radius:20px;
    padding:40px;
    display:flex;
    Justify-content:space-between;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.profile{

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.profile-box{

    flex:1;

    padding:40px;

    border-left:8px solid #996a13;
}

.profile-photo img{

    width:250px;

    height:320px;

    object-fit:cover;

    border-radius:15px;

    transition:.4s;
}

.profile-photo{
    position:relative;
}

.status{
    position:absolute;
    top:10px;
    right:10px;
    background:#2ecc71;
    color:white;
    padding:8px 15px;
    border-radius:30px;
    font-size:14px;
    font-weight:bold;
}

.profile-photo img:hover{

    transform:scale(1.05);   
}

.MY-LOGO{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin-top: 40px;
}

.MY-LOGO img{
    width: 450px;
    height: auto;
}

.Impervious{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
}

.Impervious-logo{
    width: 250px;
    height: auto;
    transition: .4s;
}

.Impervious-logo:hover{
    transform: rotate(360deg) scale(1.5);
}

a{
    transition:.3s;
}
a:hover{
    color:#996a13;
}